li::marker{
    color:red
}
p::before {
    content: "✍️";
}
a::after {
    content: "✅";
}
::selection {
    color: red;
     background: yellow;
}
::first-letter {
    font-size: 36px;
    font-weight: 700;
    color: rebeccapurple;
}
.disabled-link  {
    color: aqua;
    cursor: not-allowed;
}
.disabled-link::after{
    content: "❌";
}
a{
    font-size: 15px;
}
.home{
    height: 800px;
    width: 800px;
    margin: auto;
}
